.petsNav img{
  height: 100px;
  width: 150px;
  margin: 10px;
  border: 5px solid black;
}

.petsNav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  float: right;
}

.pets {
  display: flex;
}

.mainCat img{
  width: 30%;
}

.mainDog img{
  width: 30
}

.adoptedPets ul {
  float: left;
}

.adoptedPets img {
  height: 50px;
  width: 50px;
}