form {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

fieldset {
  border: 2px solid $909090;
  border-radius: 4px;
}

form > input {
  margin: 0 1em;
  height: 2rem;
}

form > button {
  font-size: 16px;
  width: 80px;
  height: 2rem;
}
